#deleteContact:hover {
    background-color: rgb(255, 67, 42);
}

#editContact:hover {
    background-color: #0a58ca;
}

#favContact:hover {
    color: rgb(250, 230, 56);
}

#themeButton:hover {
    color: rgb(254, 255, 202);
}

#logoutButton:hover {
    color: rgb(255, 67, 42)
}
