* {
    /* disable scrollbars on chrome/firefoxs */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#userName {
    max-width: 60vw;
    overflow-y: hidden;
    overflow-x: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name {
    max-width: 40vw;
    /* overflow-y: hidden;
    overflow-x: scroll;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.card-body .profilePicture {
    min-width: none;
    width: 5em;
    height: 5em;
}

.contactInfo {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

/* Button hover colors */
#deleteContact:hover {
    color: red;
}

#editContact:hover {
    color: blue;
}

#favContact:hover {
    color: darkgoldenrod;
}

#logoutButton:hover {
    color: red;
}
